html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.outer-row {
    @include outer-container(100%);
}

.inner-row {
    @include outer-container(1280px);
    @media (max-width: $small-screen) {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

.offset-1 {
    @include shift(1);
    @media (max-width: $small-screen) {
        @include shift(0);
    }
}
.offset-2 {
    @include shift(2);
    @media (max-width: $xs-small-screen) {
        @include shift(0);
    }
}
.offset-3 {
    @include shift(3);
    @media (max-width: $small-screen) {
        @include shift(0);
    }
}
.offset-4 {
    @include shift(4);
    @media (max-width: $small-screen) {
        @include shift(0);
    }
}
.offset-5 {
    @include shift(5);
    @media (max-width: $small-screen) {
        @include shift(0);
    }
}

.column-1 {
    @include span-columns(1);
    //@include omega();
        @media (max-width: $xs-small-screen) {
        @include span-columns(12);
        @include omega();
    }
}

.column-2 {
    @include span-columns(2);
    @include omega();
}

.column-3 {
    @include span-columns(3);
    @media (max-width: $small-screen) {
        @include span-columns(12);
        @include omega();
    }
}

.column-4 {
    @include span-columns(4);
    //@include omega();
    @media (max-width: $xs-small-screen) {
        @include span-columns(12);
        @include omega();
    }
}

.column-5 {
    @include span-columns(5);
    //@include omega();
    @media (max-width: $xs-small-screen) {
        @include span-columns(12);
        @include omega();
    }
}

.column-6 {
    @include span-columns(6);
    @include omega();
}

.column-7 {
    @include span-columns(7);
    @include omega();
    @media (max-width: $small-screen) {
        @include span-columns(12);
        @include omega();
    }
}

.column-8 {
    @include span-columns(8);
    @include omega();
}

.column-9 {
    @include span-columns(9);
    @include omega();
}

.column-10 {
    @include span-columns(10);
    @include omega();
    @media (max-width: $small-screen) {
        @include span-columns(12);
        @include omega();
    }
}

.column-11 {
    @include span-columns(11);
    @include omega();
}

.column-12 {
    @include span-columns(12);
    @include omega();
}