/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 13, 2017, 2:54:03 PM
    Author     : mattpeternell
*/
.hero {
    position: relative;
    overflow: hidden;
    @media (min-width: $medium-screen + 0.05) {
        height: auto;
    }
    @media (max-width: $medium-screen) {
        height: auto;
    }
    @media (max-width: $small-screen) {
        height: 500px;
    }
    
    @media (max-width: $xs-small-screen) {
        height: 480px;
    }

    @include outer-container(100%);
    .caption {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        max-width: 1024px;
        width: 100%;
        z-index: 10;
        @media (max-width: $medium-screen) {
            padding-left: 8.5298%;
            padding-right: 8.5298%;
        }
        @media (max-width: $small-screen) {
            padding-left: 8.5298%;
            padding-right: 8.5298%;
        }
        h1 {
            color: $white;
            font-size: 50px;
            font-weight: 100;
            font-style: italic;
            margin-bottom: 32px;
            letter-spacing: 2px;
        }
        h4 {
            color: $white;
            font-size: 27px;
            font-weight: 100;
            margin-bottom: 4rem;
            @media (max-width: $xxs-small-screen) {
                margin-bottom: 2rem;
            }
        }
        .fa {
            margin-left: 1em;
            font-size: 1.5rem;
        }
    }
}

.hero {
    &.resp-img {
        img {
            vertical-align: bottom;
            @media (max-width: $small-screen) {
                margin: 0;
                max-width: 166%; //325%;
                width: 166%; //281%;
                height: auto;
                position: absolute;
                right: -414px;
            }
            @media (max-width: $xs-small-screen) {
                max-width: 325%;
                width: 281%;
            }
            @media (max-width: $xxs-small-screen) {
                max-width: 370%;
                width: 370%;
            }
        }
    }

}

.hero {
    &.alt {
        height: 530px;
        .caption {
            top: 3rem;
            transform: translateX(-50%);
            h1,h4,h5 {
                text-align: center;
            }
            h4 {
                margin-bottom: 1rem;
                font-weight: 300;
            }
            h5 {
                color: #fff;
                font-weight: 300;
            }
        }
        .img-responsive {
            max-width: 780px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &.rt-gradient {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0a99ff+0,2989d8+34,6cbf5a+100 */
        background: #0a99ff; /* Old browsers */
        background: -moz-linear-gradient(top,  #0a99ff 0%, #2989d8 34%, #6cbf5a 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #0a99ff 0%,#2989d8 34%,#6cbf5a 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #0a99ff 0%,#2989d8 34%,#6cbf5a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a99ff', endColorstr='#6cbf5a',GradientType=0 ); /* IE6-9 */
    }

    &.rmhd-gradient {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#53c8ea+1,2989d8+34,006eab+100 */
        background: #53c8ea; /* Old browsers */
        background: -moz-linear-gradient(top,  #53c8ea 1%, #2989d8 34%, #006eab 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #53c8ea 1%,#2989d8 34%,#006eab 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #53c8ea 1%,#2989d8 34%,#006eab 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53c8ea', endColorstr='#006eab',GradientType=0 ); /* IE6-9 */

    }
    &.listen-now {
        background: $real-drk-grey;
        .caption {
            h4,h5 {
                color: $real-teal;
            }
        }
        .img-responsive {
            max-width: 100%;
        }
    }
    &.napster {
        background: $real-black;
        .caption {
            h4 {
                color: $real-orange;
            }
            h5 {
                color: $white;
            }
        }
        .img-responsive {
            max-width: 780px;
        }
    }
}

