/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 15, 2017, 10:06:19 AM
    Author     : mattpeternell
*/

.page-intro {
    position: relative;
    .inner-row {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    p {
        font-weight: 200;
        font-size: 18px;
        margin-bottom: 0;
    }
    
    &.no-divider {
        &:after {
            display: none;
        }
    }
    &.rmhd-intro {
        &:after {
            display: none;
        }
    }
    &:after { 
        content: "";
        bottom: 0;
        left: -3px;
        right: -3px;
        height: 3px;
        background-image: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(rgb(0,174,239)));
        background-image: -webkit-linear-gradient(left, transparent, rgb(0,174,239));
        background-image: -moz-linear-gradient(left, transparent, rgb(0,174,239));
        background-image: -o-linear-gradient(left, transparent, rgb(0,174,239));
        max-width: 1024px;
        @media (max-width: $medium-screen) {
            max-width: 80%;
        }
        position: absolute;
        margin: 0px auto;
    }
}