/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 14, 2017, 11:19:46 AM
    Author     : mattpeternell
*/
.partners {
    h1 {
        text-align: center;
        margin-bottom: 3rem;
    }
    .inner-row {
        padding: 60px 0;
    }
}

.partners-list {
    @include outer-container;
    .partner {
        width: 10.5%;
        float: left;
        margin-right: 2%;
        text-align: center;
        @media (max-width: $xs-small-screen) {
            width: 23.5%;
            margin-bottom: 2rem;
            &:nth-child(4n) {
                margin-right: 0;
            }
        }
        &:last-child {
            margin-right: 0;
        }
        img {
            vertical-align: middle;
        }
    }
}