/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 15, 2017, 1:27:25 PM
    Author     : mattpeternell
*/

.quote-cta {
    &.realtime {
        background: #0a99ff; /* Old browsers */
        background: -moz-linear-gradient(135deg,  #0a99ff 0%, #2989d8 20%, #6cbf5a 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(135deg,  #0a99ff 0%,#2989d8 20%,#6cbf5a 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(320deg,  #0a99ff 0%,#2989d8 20%,#6cbf5a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a99ff', endColorstr='#6cbf5a',GradientType=0 ); /* IE6-9 */
    }
    &.rmhd {
        background: #53c8ea; /* Old browsers */
        background: -moz-linear-gradient(135deg,  #006eab 0%, #2989d8 48%,  #53c8ea 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(135deg, #006eab,#006eab 0%,#2989d8 48%, #53c8ea 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(320deg,#006eab 0%,#2989d8 48%,#53c8ea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006eab', endColorstr='#006eab',GradientType=0 ); /* IE6-9 */
    }
    .inner-row {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    .quote {
        text-align: center;
        color: #fff;
        font-weight: 200;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 2rem;
    }
    .source {
        text-align: center;
        color: #fff;
        font-weight: 500;
        line-height: 26px;
    }
}