/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 15, 2017, 11:17:27 AM
    Author     : mattpeternell
*/

.rt-give-content {
    position: relative;
    .inner-row {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    h1 {
        text-align: center;
    }
    .column-5 {
        text-align: center;
        position: relative;
        min-height: 325px;
        @media (max-width: $small-screen) {
            @include span-columns(10);
            @include omega();
            padding-left: 32px;
            padding-right: 32px;
            @include shift(1);
        }
    }
/*    .offset-1 {
       
    }*/
    img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    h2 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        font-weight: 200;
        max-width: 400px;
        text-align: left;
        @media (max-width: $small-screen) {
            text-align: center;
        }
        width: 100%;
        margin: 0;
    }
    &:after { 
        content: "";
        bottom: 50px;
        left: -3px;
        right: -3px;
        height: 3px;
        background-image: -webkit-gradient(linear, 0 50%, 100% 0, from(transparent), to(rgb(0,174,239)));
        background-image: -webkit-linear-gradient(left, transparent  50%, rgb(0,174,239));
        background-image: -moz-linear-gradient(left, transparent  50%, rgb(0,174,239));
        background-image: -o-linear-gradient(left, transparent  50%, rgb(0,174,239));
        max-width: 1024px;
        @media (max-width: $medium-screen) {
            max-width: 80%;
        }
        position: absolute;
        margin: 0px auto;
    }
}